@model  User
@using Anbarii.Classes.Values
@using Anbarii.Controllers
@using Anbarii.Classes
@using Anbarii.Models
@{
    AnbariiEntities db = new AnbariiEntities();
    ViewBag.Title = "پروفایل";
    Layout = "~/Views/Shared/_portal_layout.cshtml";
}
@section header{


}


<div class="row">
    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">تغییر رمز</h3>
            </div>
            <div class="card-body">
                @if (TempData["ChangePass"] != null)
                {
                    if ((Boolean)TempData["ChangePass"] == true)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>رمز عبور با موفقیت تغییر یافت.</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
                @using (Html.BeginForm(PortalController.SChangePassword, PortalController.SController))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-lg-12 has-feedback bmd-form-group ">
                            @Html.Label("رمز عبور قدیم", htmlAttributes: new { @class = "bmd-label-floating" })
                            @Html.Password("oldpass", "", htmlAttributes: new { @class = "form-control", required = "required", data_error = "رمز عبور اجباریست." })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12 has-feedback bmd-form-group">
                            @Html.Label("رمز عبور جدید", htmlAttributes: new { @class = "bmd-label-floating" })
                            @Html.Password("newpass", "", htmlAttributes: new { @class = "form-control", required = "required", data_error = "رمز جدید اجباریست.", data_minlength = "6", data_minlength_error = "حداقل کارکتر 6" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12 has-feedback bmd-form-group">
                            @Html.Label("تکرار رمز عبور جدید", htmlAttributes: new { @class = "bmd-label-floating" })
                            @Html.Password("confirm", "", htmlAttributes: new { @class = "form-control", type = "password", @required = "required", @data_error = "تکرار رمزعبور اجباریست.", data_match = "#newpass", data_match_error = "تکرار رمز اشتباه است." })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <p style="clear:both"></p>
                    <div>
                        <span class="group-btn">
                            <input type="submit" value="ثبت" class="btn btn-primary btn-md" />
                        </span>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="~/assets/img/faces/placeholder-profile.jpg" />
                </a>
            </div>
            @using (Html.BeginForm(PortalController.SAddUser, PortalController.SController))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(Model => Model.ID);
                <div class="card-body show">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            @if (Model.RoleID.Equals(RolesInt.Anbar))
                            {
                                <h6 class="card-category text-gray">نام انبار</h6>
                            }
                            else
                            {
                                <h6 class="card-category text-gray">نام شرکت</h6>
                            }
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Name_Company)
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-12">

                            <h6 class="card-category text-gray">نام</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Name)
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">کدملی</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Code)
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">کدملی</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Code)
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            @if (Model.RoleID.Equals(RolesInt.Anbar))
                            {
                                <h6 class="card-category text-gray">کد انبار</h6>
                            }
                            else
                            {
                                <h6 class="card-category text-gray">کد اقتصادی</h6>
                            }
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Economic_Code)
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">ایمیل</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Email)
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">توکن</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Token)
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">تلفن</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Phone)
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">تلفن همراه</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Mobile)
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h6 class="card-category text-gray">کدپستی</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Code_Posti)
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h6 class="card-category text-gray">آدرس</h6>
                            <h4 class="card-title">
                                @Html.DisplayFor(i => Model.Adress)
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body hidden">
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Name_Company, "نام انبار", htmlAttributes: new { id = "Name_CompanyID", @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Name_Company, "", new { @class = "form-control", @required = "required", @data_error = "نام انبار/شرکت اجباریست.", maxlength = "50", data_max_error = "حداکثر کارکتر 50" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Name, "نام", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Name, "", new { @class = "form-control", @required = "required", @data_error = "نام اجباریست.", maxlength = "70", data_max_error = "حداکثر کارکتر 70" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Mobile, "تلفن همراه", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Mobile, "", new { @class = "form-control", pattern = "^[+,-;0-9]*$", @data_error = "تلفن همراه اجباریست.", maxlength = "60", data_max_error = "حداکثر کارکتر 60", data_minlength = "11", data_minlength_error = "حداقل کارکتر 11" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Phone, "تلفن", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Phone, "", new { @class = "form-control", pattern = "^[+,-;0-9]*$", @data_error = "تلفن اجباریست.", maxlength = "50", data_max_error = "حداکثر کارکتر 50", data_minlength = "8", data_minlength_error = "حداقل کارکتر 8" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Code, "کدملی", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Code, "", new { @class = "form-control", pattern = "^[-0-9]*$", @data_error = "کدمل اجباریست.", maxlength = "10", data_max_error = "حداکثر کارکتر 10", data_minlength = "10", data_minlength_error = "حداقل کارکتر 10" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback bmd-form-group">
                        @Html.LabelFor(Model => Model.Economic_Code, "کد انبار", htmlAttributes: new { id = "Economic_CodeID", @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Economic_Code, "", new { @class = "form-control", pattern = "^[0-9]*$", @data_error = "شماره انبار/کد اقتصادی اجباریست.", maxlength = "12", data_max_error = "حداکثر کارکتر 12" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Adress, "آدرس", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextAreaFor(Model => Model.Adress, 3, 1, new { @class = "form-control", @data_error = "آدرس اجباریست.", maxlength = "200", data_max_error = "حداکثر کارکتر 200" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback  bmd-form-group">
                        @Html.LabelFor(Model => Model.Code_Posti, "کدپستی", htmlAttributes: new { @class = "bmd-label-floating" })
                        @Html.TextBoxFor(Model => Model.Code_Posti, "", new { @class = "form-control", pattern = "^[0-9]*$", @data_error = "کد پستی اجباریست.", maxlength = "10", data_max_error = "حداکثر کارکتر 10" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="card-footer" style="text-align:center">
                    <input class="btn btn-primary btn-lg show" id="edit" type="button" value="ویرایش" />
                    <input class="btn btn-danger btn-lg hidden" id="cancel" type="button" value="لغو" />
                    <input class="btn btn-success btn-lg hidden" type="submit" value="ثبت" />
                </div>
            }

        </div>

    </div>
</div>
@section footer{
    <script>

        $(document).ready(function () {
            $('.hidden').hide();
            $('#edit').click(function () {
                $('.hidden').show(500);
                $('.show').hide(500);
            });
            $('#cancel').click(function () {
                $('.hidden').hide(500);
                $('.show').show(500);
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $('.ui.dropdown')
                .dropdown();
            $('#Role').change(function () {
                if ($(this).val() == "2") {
                    $('#Name_CompanyID').text('نام انبار');
                    $('#Economic_CodeID').text('کد انبار');

                } else {
                    $('#Name_CompanyID').text('نام شرکت');
                    $('#Economic_CodeID').text('کد اقتصادی');

                }

            })
        });
    </script>
}



